[submodule "themes/hugo-themes-nightfall"]
	path = themes/hugo-themes-nightfall
	url = https://github.com/LordMathis/hugo-theme-nightfall
[submodule "themes/simple-resume"]
	path = themes/simple-resume
	url = https://github.com/tylersayshi/simple-resume.git
